<div class="sidebar-container text-center">
	<h4>今期のアニメ特集</h4>
	<p></p>
	<div class="seaonAnimeWrapper ">
		<div class="animeSeasonBox">
			<div class="animeSeasonImg">
				<img alt="シュタインズ・ゲート ゼロ" src="http://eiga.k-img.com/images/anime/program/106385/photo/f8c5656f57611b5c/160.jpg?1518168923">
			</div>
			<div class="animeSeasonTtl">
				<a>シュタインズ・ゲート ゼロ</a>
			</div>
			<dl class="animeSeasonDtl">
				<dt>制作会社</dt>
				<dd>WHITE FOX</dd>
				<dt>メインスタッフ</dt>
				<dd>【監督】 川村賢一 </dd>
				<dd>【シリーズ構成】 花田十輝</dd>
				<dd>【キャラクターデザイン】 稲吉智重</dd>


				<dt>メインキャスト</dt>
				<dd> <a>宮野真守</a>, <a>花澤香菜</a>, <a>関智一</a>, <a>今井麻美</a>, <a>後藤沙緒里</a>, <a>小林ゆう</a> </dd>

					
				
			</dl>
			
		</div>
		
	</div>
	

</div>