<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>いいアニメは、共有しよう</h1>
        <% unless logged_in? %>
          <a href="" class="btn btn-success btn-lg">AnimeChanelを始める</a>
        <% end %>
      </div>
    </div>
  </div>
<% end %>


<% if logged_in? %>
  <%= render 'posts/posts', posts: @posts %>
<% end %>